<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
    package="com.cm.pikachua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk android:minSdkVersion="16"/>

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/pikachua"
        android:label="@string/app_name"
        android:exported="true"
        android:roundIcon="@mipmap/pikachua"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="google-signin-client_id"
            android:value="@string/server_client_id" />

        <activity
            android:name=".GoogleLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LaunchUnity"
        	android:screenOrientation="portrait"
        	android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".StorageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".BagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".RestockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".CatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />

        <activity android:name=".MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HiddenTitleTheme" />
    </application>

</manifest>